
#input-container {
  display: flex;
  align-items: center;
  width: 78vw;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  align-self: flex-end;
  margin: 10px 10px 10px 10px;
  border-color: orange;
  border-width: 2px;
  border-style: solid;
}

#user-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 15px;
  border: none;
  outline: none;
}

#send-button, #file-upload-label {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#send-button i, #file-upload-label i {
  font-size: 20px;
  color: rgb(13, 51, 155);
}

#send-button i:hover, #file-upload-label i:hover {
  color: rgb(13, 51, 155);
}

#file-upload {
  display: none; /* Hide the default file input */
}

.upload-pdf-con{
  height: 80px;
  width: 30%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  margin-top: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(189, 189, 234, 0.1);
}
#plus-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: relative;
  z-index: 1;
}

