.chat-con{
    display: flex;
    background-color: #000000;
    height: 95vh;
    width: 99vw;
    overflow-y: hidden;
    overflow-x: hidden;
}
.sidebar-closed{
    width: 7vw;
    height: 100vh;
    position: relative;
}
.sidebar-opened{
    width: 20vw;
    height: 100vh;
    position: relative;
}
.body-container-without-full-sidebar{
    width: 90vw;
    background-color: #000000;
    padding: "20px";
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px 10px 30px;
    overflow-y: auto;
}
.body-container-with-full-sidebar{
    width: 70vw;
    background-color: #000000;
    padding: "20px";
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 20px 10px 30px;
    overflow: hidden;
}