.home-con{
    display: flex;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}
.sidebar-closed{
    width: 7vw;
    height: 100vh;
    position: relative;
}
.sidebar-opened{
    width: 20vw;
    height: 100vh;
    position: relative;  
}
.body-container-without-full-sidebar{
    width: 83vw;
    height: 92vh;
    background-color: #f5ebeb;
    padding: "20px";
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 30px 30px 30px;
    overflow: hidden;

}
.body-container-with-full-sidebar{
    width: 70vw;
    height: 92vh;
    /* position: relative; */
    background-color: #f5ebeb;
    padding: "20px";
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 30px 30px;
    overflow: hidden;
}